* {
    padding: 0;
    margin: 5px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
p {
    display: flex;
    justify-content: center;
}
a {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    transition: .5s ease-in-out;
}
a:hover {
    background-color: blue;
}
